os: linux
dist: bionic
language: python
cache: pip

python:
- '3.6'
#- '3.7'
#- '3.8'
- '3.9'
- '3.10'

install:
- make install

script:
- make lint
- make test

after_success:
- bash <(curl -s https://codecov.io/bash)
