os: linux
dist: xenial
language: python
cache: pip

python:
#- '2.7'
#- '3.4'
- '3.5'
- '3.6'
- '3.7'
- '3.8'

install:
- make install

script:
- make lint
- make test

after_success:
- bash <(curl -s https://codecov.io/bash)
