[tool.mypy]
disallow_any_generics = true
disallow_subclassing_any = true

check_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_calls = true
disallow_untyped_decorators = true
disallow_untyped_defs = true

warn_redundant_casts = true
warn_unused_ignores = true

[tool.pytest.ini_options]
markers = [
    "network: marks tests as requiring Internet access",
]
